{% extends 'base.html' %}

{% block title %} Email Verification {% endblock %}

{% block content %}
<h1 class="mx-auto mt-5" style="width: 500px;">Verify your email</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger mx-auto mt-5" style="width: 500px;" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}
<form method="POST" class="mx-auto mt-5" style="width: 500px;">
{% csrf_token %}
  <div class="mb-3 email">
      <label for="email" class="form-label">Enter Email</label>
      <input type="email" name="email" class="form-control" id="email">  
  </div>

  <button type="submit" class="btn btn-primary">Send Code</button>

</form>
{% endblock %}