{% extends 'base.html' %}

{% block title %} Email Verification {% endblock %}

{% block content %}
<h1 class="mx-auto mt-5" style="width: 500px;">Set your new password</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger mx-auto mt-5" style="width: 500px;" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}
<form method="POST" class="mx-auto mt-5" style="width: 500px;">
{% csrf_token %}
  <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input type="password" name="password1" class="form-control" id="password">  
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Confirm Password</label>
    <input type="password" name="password2" class="form-control" id="password2">  
</div>



  <button type="submit" class="btn btn-primary btn1">Set Password</button>

</form>
{% endblock %}