{% extends 'base.html' %}

{% block title %} Email Verification {% endblock %}

{% block content %}
<h1 class="mx-auto mt-5" style="width: 500px;">We sent you an email with a code</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger mx-auto mt-5" style="width: 500px;" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}
<form method="POST" class="mx-auto mt-5" style="width: 500px;">
{% csrf_token %}
  <div class="mb-3 email">
      <label for="code" class="form-label">Enter the Code</label>
      <input type="number" name="code" class="form-control" id="code">  
  </div>

  <button type="submit" class="btn btn-primary btn1">Verify Code</button>

</form>
{% endblock %}