{% extends 'base.html' %}

{% block title %}
Thank You!
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Thank You!</h1>
    <p>Your order has been successfully placed.</p>
    <p>We appreciate your business and hope you enjoy your purchase!</p>
    
    <ul class="list-group mb-4">
        {% for order in orders %}
            <li class="list-group-item">
                <strong>{{ order.phone_id.name }}</strong> - Rs {{ order.phone_id.price }}
                <br>
                Order Date: {{ order.order_date }}
            </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'index' %}" class="btn btn-primary">Return to Home</a>
</div>
{% endblock %}
